# Logs
react-app/logs
react-app/*.log
react-app/npm-debug.log*
react-app/yarn-debug.log*
react-app/yarn-error.log*
react-app/pnpm-debug.log*
react-app/lerna-debug.log*

# React App (Added prefixes so Git finds them inside the subfolder)
react-app/node_modules/
react-app/dist/
react-app/dist-ssr/
react-app/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Root / Python Backend
Fast-api/.env
Fast-api/__pycache__/