@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --color-background: #111823;
    --color-text: #ff4654;
    --font-Raleway: "Raleway";
}

@layer base{
  body{
    font-family: var(--font-Raleway);
  }
}
@layer utilities {
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(250px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-250px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(250px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-250px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes zoom {
    from {
      scale: 0;
    }
    to {
      scale: 1;
    }
  }




  .animate-fade-in-up {
    animation: fadeInUp 0.25s cubic-bezier(0.15, 0.85, 0.15, 1), forwards;
    margin-block: auto;
  }
  .animate-fade-in-right {
    animation: fadeInRight 0.25s cubic-bezier(0.15, 0.85, 0.15, 1), forwards;
    margin-block: auto;
  }
  .animate-fade-in-left {
    animation: fadeInLeft 0.25s cubic-bezier(0.15, 0.85, 0.15, 1), forwards;
    margin-block: auto;
  }
  .animate-fade-in-down {
    animation: fadeInDown 0.25s cubic-bezier(0.15, 0.85, 0.15, 1), forwards;
    margin-block: auto;
  }
  .animate-zoom {
    animation: zoom 0.25s cubic-bezier(0.15, 0.85, 0.15, 1), forwards;
    margin-block: auto;
  }
}
