@import 'tailwindcss';
@theme {
    --color-background: #111823;
    --color-text: #ff4654;
}

@layer utilities {
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(250px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-250px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes zoom {
    from {
      scale: 0;
    }
    to {
      scale: 1;
    }
  }




  .animate-fade-in-up {
    animation: fadeInUp 0.25s cubic-bezier(0.15, 0.85, 0.15, 1), forwards;
    margin-block: auto;
  }

  .animate-fade-in-down {
    animation: fadeInDown 0.25s cubic-bezier(0.15, 0.85, 0.15, 1), forwards;
    margin-block: auto;
  }
  .animate-zoom {
    animation: zoom 0.25s cubic-bezier(0.15, 0.85, 0.15, 1), forwards;
    margin-block: auto;
  }
}