@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --color-background: #111823;
    --color-text: #ff4654;
    --font-Raleway: "Raleway";
}

@layer base{
  body{
    font-family: var(--font-Raleway);
  }
}
@layer utilities {
  @keyframes fadeInUp {
    from {
      transform: translateY(250px);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes fadeInDown {
    from {
      transform: translateY(-250px);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes fadeInRight {
    from {
      transform: translateX(125px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes fadeInLeft {
    from {
      transform: translateX(-125px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes zoom {
    from {
      scale: 0;
    }
    to {
      scale: 1;
    }
  }




  .animate-fade-in-up {
    animation: fadeInUp 0.5s cubic-bezier(0.15, 0.85, 0.15, 1), forwards;
    margin-block: auto;
  }
  .animate-fade-in-right {
    animation: fadeInRight 0.5s cubic-bezier(0.15, 0.85, 0.15, 1), forwards;
    margin-block: auto;
  }
  .animate-fade-in-left {
    animation: fadeInLeft 0.5s cubic-bezier(0.15, 0.85, 0.15, 1), forwards;
    margin-block: auto;
  }
  .animate-fade-in-down {
    animation: fadeInDown 0.5s cubic-bezier(0.15, 0.85, 0.15, 1), forwards;
    margin-block: auto;
  }
  .animate-zoom {
    animation: zoom 0.5s cubic-bezier(0.15, 0.85, 0.15, 1), forwards;
    margin-block: auto;
  }
}


::-webkit-scrollbar {
  background: transparent;
  width: 25px;
  height: 2em;
  padding: 4em;
}

::-webkit-scrollbar-thumb {
  width:10px;
  background-color:#ff4654;
  border: 5px solid transparent;
  background-clip: padding-box;
  border-radius: 32px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#ff818c;
}